body {
    font-family: "pixel", sans-serif;
    display: grid;
    height: 100vh;
    background-color: black;
    margin-top: 20px;
}

@font-face {
    font-family: "pixel";
    src: url("assets/fonts/SuperMario.ttf");
}
